body {
    font-size: 12px;
    font-family: 'Roboto', Verdana, sans-serif;
    margin: 0px;
}

/* main layout */
header {
    background: #D8472D;
    color: rgb(255, 255, 255);
    padding: 20px 10px 10px;
}

header img {
    width: 96px;
    height: 96px;
    float: left;
}

header h1 {
    margin: 0px;
}

header p {
    margin: 5px 106px;
    font-style: italic;
}

nav {
    background: #FFF2E7;
}

nav ul {
    margin: 0px;
    padding: 5px;
    list-style: none;
}

nav li {
    display: inline;
}

nav a {
    padding: 5px;
    font-weight: bold;
    color: #452237;
}

nav a:link {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

#main {
    display: block;
    padding: 5px;
}

footer {
    padding: 10px;
    background: #FFF2E7;
}

h2, h3, h4, h5, h6 {
    background: #69D2E7;
    color: #FFF2E7;
    padding: 3px 10px;
    border: 1px solid #FFF2E7;
    border-radius: 10px;
}


.clear {
    clear: both;
}

/* home page -- home.mako */
section.blurb {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #A7DBD8;
    background: #FFF2E7;
}

/* displaying world maps -- world.mako */

img.world {
    float: left;
}

span.route {
    font-size: 2em;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #A7DBD8;
    background: #FFF2E7;
    float: left;
}

/* displaying routes -- map.mako */

img.route {
    float: left;
}

table.encounters {
    
}

table.encounters thead {
    background: #FBFF91;
}

table.encounters th {
    height: 24px;
}

table.encounters img {
    vertical-align: middle;
}

table.encounters td, table.encounters th {
    width: 200px;
}

#route-image {
    float: left;
    min-width: 400px;
    max-width: 1000px;
    max-height: 600px;
    overflow: auto;
}

